.ujian {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "Poppins", sans-serif;
  padding-top: 25px;
  padding-bottom: 30px;
}

.ujian-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.ujian-title h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

.ujian-title p {
  font-size: 0.9rem;
  color: var(--color-muted-foreground);
}

.ujian-table {
  overflow: auto;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  box-shadow: rgba(5, 80, 118, 0.2) -1px 1px 15px;
}

.ujian-table table {
  width: 100%;
  border-collapse: collapse;
}

.ujian-table th,
.ujian-table td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 0.9rem;
  vertical-align: middle;
}

.ujian-table td:nth-child(1) {
  min-width: 180px;
}

.ujian-table td:nth-child(1) h2 {
  font-size: 0.9rem;
  font-weight: 600;
}

.ujian-table td:nth-child(1) .ujian-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ujian-table td:nth-child(1) .ujian-info span {
  font-size: 0.7rem;
  display: inline-flex;
  align-items: center;
  gap: 3px;
  color: var(--color-muted-foreground);
}

.ujian-table td:nth-child(2) {
  min-width: 70px;
}

.ujian-table td:nth-child(2) div {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.8rem;
  color: var(--color-muted-foreground);
}

.ujian-table td:nth-child(3) {
  min-width: 160px;
}

.ujian-table td:nth-child(3) div {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.8rem;
  color: var(--color-muted-foreground);
}

.ujian-table td:nth-child(4) {
  min-width: 100px;
}

.ujian-table td:nth-child(5) {
  min-width: 100px;
}

.ujian-table td:nth-child(6) {
  min-width: 150px;
}

.ujian-table td:nth-child(6) div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ujian-table th {
  background-color: #eef3f3;
  color: var(--color-foreground);
  font-weight: 600;
}

.ujian-table tr {
  background-color: rgba(255, 255, 255, 1);
}

.ujian-table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.5);
}

.otomatis {
  padding: 3px 8px;
  border-radius: 14px;
  background: rgba(41, 119, 245, 0.1);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  font-size: 0.7rem;
  font-weight: 500;
}

.manual {
  padding: 3px 8px;
  border-radius: 14px;
  background: rgba(255, 204, 0, 0.1);
  border: 1px solid rgb(255, 204, 0);
  color: rgb(255, 204, 0);
  font-size: 0.7rem;
  font-weight: 500;
}

.active {
  padding: 3px 8px;
  border-radius: 14px;
  background: rgba(0, 255, 17, 0.1);
  border: 1px solid rgb(0, 255, 17);
  color: rgb(0, 255, 17);
  font-size: 0.7rem;
  font-weight: 500;
}

.btn-edit {
  width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: rgba(255, 234, 0, 0.1);
  border: 1px solid rgb(255, 234, 0);
  color: rgb(255, 234, 0);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.btn-danger {
  width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: rgba(255, 0, 0, 0.1);
  border: 1px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
