.auth {
  display: flex;
  align-items: stretch;
  height: 100vh;
  gap: 10px;
}

.auth .container.left {
  display: none;
}

.auth .container.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth .container.right form {
  width: 95%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.auth .container.right form header {
  margin-bottom: 24px;
}

.auth .container.right form header h1 {
  font-size: 30px;
}

.auth .container.right form header p {
  font-size: 14px;
  color: var(--color-muted-foreground);
}

.auth .container.right form .input-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth .container.right form .input-label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.auth .container.right form .input-label label {
  font-size: 14px;
}

.auth .container.right form .input-label i {
  position: absolute;
  right: 14px;
  bottom: 12px;
  font-size: 18px;
  color: var(--color-muted-foreground);
}


@media (width >= 640px) {
}

@media (width >= 768px) {
}

@media (width >= 1024px) {
  .auth .container.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-gradient-primary);
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .auth .container.left header {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .auth .container.left header .title-group {
    line-height: 18px;
  }

  .auth .container.left header .title-group h1 {
    font-size: 20px;
    color: var(--color-secondary);
  }

  .auth .container.left header .title-group p {
    font-size: 12px;
    color: var(--color-muted);
  }

  .auth .container.left main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .auth .container.left main h1 {
    color: var(--color-secondary);
    font-size: 40px;
    line-height: 50px;
  }

  .auth .container.left main p {
    color: var(--color-muted);
  }

  .auth .container.left .box-service {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .auth .container.left .box-service .box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: var(--color-muted);
    padding: 14px 18px;
    line-height: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .auth .container.left .box-service .box h2 {
    font-size: 22px;
  }

  .auth .container.left .box-service .box p {
    font-size: 12px;
  }
}
